/* Sections
 * --------------------------------------- */

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#000;
}

.purchase-btn {
  background-color: transparent;
  color: white;
  border: 2px solid #fff
}

.purchase-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid #fff
}


/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

#myVideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
    background-position: center center;
    background-size: contain;
    object-fit: cover; /*cover video background */
    z-index:3;
}

.section2{
  overflow: hidden;
}

/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#bio-page .layer{
  position: absolute;
  z-index: 4;
  width: 100%;
  left: 0;
  top: 43%;
  /*
  * Preventing flicker on some browsers
  * See http://stackoverflow.com/a/36671466/1081396  or issue #183
  */
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

#bio-page .layer a {
  color: white;
  font-size: 5em;
  font-family: arial,helvetica;
  margin:0;
  padding:0;
  text-align: center;
}
